/* src/components/Homepage.css */
.homepage {
  text-align: center;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #800000; /* Match the background color */
  color: white;
  padding: 20px;
}

.hero-image {
  max-width: 50%;
  height: auto;
  margin-right: 20px;
}

.hero-text {
  max-width: 50%;
  text-align: left;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.buy-now {
  background-color: #FFA500; /* Button color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.customer-reviews {
  margin: 50px 0;
}

.customer-reviews h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.review-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review {
  background: white;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.footer {
  background-color: #9c9a72;
  color: black;
  padding: 40px 20px;
}

.footer h3 {
  margin-top: 0;
}

.footer-section {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 0 20px;
}

.footer-section:nth-child(1),
.footer-section:nth-child(2) {
  border-right: 1px solid black;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter input {
  padding: 10px;
  border: none;
  margin-right: 10px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #333; /* Match the footer background color */
  color: white;
  border: 1px solid white;
  border-left: none; /* Remove left border */
  cursor: point
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.footer a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom a {
  margin: 0 10px;
}

.footer p {
  margin: 20px 0 0;
}
